

$background : #162A40;
$buttonColor : #46ACE3;
$whiteColor : #ffffff;
$grayColor : #D3D3D3;
$darkgrayColor: #4B5468;

$mainWeatherContainer : #3BA6FB;
$yellow: #F7CB46;

$darkBlue: #0C1323;
$brightBlue: #3E59FC;
$darkestBlue: #191D35;
$homeiconColor : #5d6074;
$serviceiconColor : #273481;
$redColor: #FF0000;

$darkgreenColor: #008000;
$lightgreenColor: #66C85B;
$greenColor : #60BC59;

